@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 62.5%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  font-size: 3.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h3 {
  font-weight: 300;
  font-size: 2.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

header {
  width: 100%;
  height: 550px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Alata", sans-serif;
  padding: 5% 10% 0 10%;
  box-sizing: border-box;
}
header .navbar {
  display: flex;
  align-items: center;
}
header nav {
  flex: 1;
  text-align: right;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 4%;
}
header nav ul li a {
  text-decoration: none;
  padding: 15px 0px 15px 0px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
header nav.stroke ul li a {
  position: relative;
}
header nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 2px;
}
header nav.stroke ul li a:hover:after {
  width: 100%;
}
header nav.stroke ul li a.active:after {
  width: 100%;
}
header nav.stroke ul li a:after, header nav.stroke ul li a :before {
  transition: all 0.5s;
}
header nav #nav-toggle {
  position: absolute;
  top: -100px;
}
header nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  transform: translateY(-50%);
}
header nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
header .slogon {
  position: relative;
  top: 100px;
  border: 2px solid white;
  text-transform: uppercase;
  width: 53%;
  padding: 25px;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 845px) {
  header nav.stroke ul {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  header nav :checked ~ ul {
    bottom: 0;
  }
  header nav .icon-burger {
    display: block;
  }
  header nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  header nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  header nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  header .slogon {
    top: 100px;
    border: 2px solid white;
    text-transform: uppercase;
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
  header .slogon h2 {
    font-weight: 350;
    font-size: 2rem;
  }
}
section.section-top {
  margin: 80px 80px 0px 80px;
  height: 650px;
}
section.section-top #section-top-img {
  width: 60%;
  height: 500px;
}
section.section-top #section-top-img img {
  width: 100%;
  height: 100%;
}
section.section-top #section-top-desc {
  z-index: 1;
  position: relative;
  width: 48%;
  left: 45%;
  top: -290px;
  background-color: white;
  padding: 70px 70px 0 70px;
}
section.section-top #section-top-desc p {
  font-size: 1.4rem;
  line-height: 30px;
  font-weight: 400;
}

section.section-middle {
  margin: 0px 80px 20px 80px;
}

section.section-middle div {
  display: flex;
  justify-content: space-between;
}

section.section-middle div a {
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  text-decoration: none;
  margin: 10px 0px 20px 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

section.section-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.section-contain figure {
  margin-bottom: 40px;
  width: 22.5%;
  height: 500px;
  border: 1px solid black;
}

section.section-contain figure img {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

section.section-contain figure figcaption {
  position: relative;
  width: 70%;
  bottom: 90px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: white;
  padding-left: 25px;
}

footer {
  background-color: black;
  color: white;
  padding: 3% 8% 3% 8%;
  display: flex;
  flex-wrap: wrap;
}
footer .footer-logo {
  width: 50%;
}
footer .footer-icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
footer .footer-icons img {
  margin: 2%;
  cursor: pointer;
}
footer nav {
  width: 50%;
  text-align: left;
  padding-top: 10px;
}
footer nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2%;
}
footer nav ul li a {
  text-decoration: none;
  padding: 15px 0px 15px 0px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
footer p {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  font-size: 0.9rem;
}

/*# sourceMappingURL=main.css.map */
