header {
    width: 100%;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    color: $primary-white;
    font-family: $font-alata;
    padding: 5% 10% 0 10%;
    box-sizing: border-box;
    
    & .navbar{
        display: flex;
        align-items: center;
    }

    nav{
        flex: 1;
        text-align: right;

        ul li{
            list-style: none;
            display: inline-block;
            margin-left: 4%;

            a {
                text-decoration: none;
                padding: 15px 0px 15px 0px;
                color: $primary-white;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        &.stroke ul li a {
            position: relative;

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: $primary-white;
                height: 2px;
            }
            &:hover:after {
                width: 100%;
            }
            &.active:after{
                width: 100%;
            }

            &:after,:before{
                transition: all .5s;
            }
            
        }
    }

    & .slogon {
        position: relative;
        top: 100px;
        border: 2px solid $primary-white;
        text-transform: uppercase;
        width: 53%;
        padding: 25px;
        font-family: $font-Josefin;

        p {
            font-weight: 400;
            font-size: 4rem;
            letter-spacing: 5px;
        }
    }
}





